 <!-- TwitterとLINE -->
 <div id="contact" class="sns">
    <div class="LINE">
        <h2>お問い合わせ</h2>
        <p>LINEで学術サーバーの最新情報と質問にお答えします! <br>
            公式ラインへのご登録をお願いします！</p>
            <div class="LINE-register">
                <img src="image/line.png" alt="LINEのQRコード" class="sns-img">
                <div class="button">
                    <a href="https://t.co/ZtBgsUWH4x">公式ライン</a>
                </div>
            </div>
    </div>
    <div class="twitter">
        <h2>Twitter</h2>
        <p>Twitterでも学術サーバーの最新情報をお知らせします！ご質問や加入したいという場合はDMにてご連絡ください。</p>
        <a class="twitter-timeline" data-width="100%" data-height="400" data-theme="light" href="https://twitter.com/Gaku_NU?ref_src=twsrc%5Etfw">Tweets by Gaku_NU</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

<style>
    
</style>