---
import gakusabalogo from '../assets/logo.png';   
---

<header class="header">
    <a href="/" class="header-item">
        <img src={gakusabalogo.src} alt="学術サーバー" class="header-logo header-item">
    </a>
    
    <div class="header-item">
        <div  class="header-title">
            <p class="header-explain">自主ゼミをするためのコミュニティ</p>
            <div class="header-name">名大学術サーバー</div>
        </div>
    </div>  
</header>

<style>
.header{
    display: flex;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    max-height: 100px;
    justify-content: center;
    gap:30px;
}
.header-logo{
    max-width:100px;
    max-height:100px;
}
.header-item{
    margin: 0 10px;
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.header-title{
    display: flex;
    flex-direction: column;
    font-size: 2.0rem;
    color: #000;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.header-name{
    font-size: 2.0rem;
    color: #000;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.header-explain{
    font-size: 0.725rem;
    color: #000;
    text-decoration: none;
}
</style>